{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'observation_list_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'observation_list_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'observation_list_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'observation_list_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg1">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'observations' } %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'observation_list_main_title'|trans }}</h1>
                            <span>{{ 'observation_map_secondary_title'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{{ path('observation.map') }}" target="_self">{{ 'map'|trans }}</a></li>
            <li class="tab"><a class="active" href="{{ path('observation.list') }}" target="_self">{{ 'list'|trans }}</a></li>
        </ul>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'list'|trans }}</span>
                </div>
            </div>
        </nav>
        <div class="heading">{{ 'observation_list_title'|trans }}</div>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>

        </section>
    </main>
{% endblock %}

