{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'faq_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'faq_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'faq_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'faq_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg8">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle': 'faq_full'}%}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'faq_main_title'|trans }}</h1>
                            <h2>{{ 'faq_secondary_title'|trans }}</h2>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'faq_full'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1>{{ 'faq_page_title'|trans }}</h1>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m8 push-m2">
                                    <ul class="collapsible" data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°1</div>
                                            <div class="collapsible-body">
                                                <span>Thank you, steal again. No children have ever meddled with the Republican Party and lived to tell about it. I've had it with this school, Skinner.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°2</div>
                                            <div class="collapsible-body">
                                                <span>esus must be spinning in his grave! Jesus must be spinning in his grave! Our differences are only skin deep, but our sames go down to the bone.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°3</div>
                                            <div class="collapsible-body">
                                                <span>I've had it with this school, Skinner. Low test scores, class after class of ugly, ugly children… He didn't give you gay, did he? Did he?! What good is money if it can't inspire terror in your fellow man?</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°4</div>
                                            <div class="collapsible-body">
                                                <span>Don't kid yourself, Jimmy. If a cow ever got the chance, he'd eat you and everyone you care about! You don't like your job, you don't strike. You go in every day and do it really half-assed. That's the American way.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°5</div>
                                            <div class="collapsible-body">
                                                <span>Facts are meaningless. You could use facts to prove anything that's even remotely true! Son, a woman is like a beer. They smell good, they look good, you'd step over your own mother just to get one!</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°6</div>
                                            <div class="collapsible-body">
                                                <span>Fire can be our friend; whether it's toasting marshmallows or raining down on Charlie. Beer. Now there's a temporary solution. He didn't give you gay, did he? Did he?! Lisa, vampires are make-believe, like elves, gremlins, and Eskimos</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Question n°7</div>
                                            <div class="collapsible-body">
                                                <span>Stan Lee never left. I'm afraid his mind is no longer in mint condition. Lisa, vampires are make-believe, like elves, gremlins, and Eskimos. No children have ever meddled with the Republican Party and lived to tell about it.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

