{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'homepage_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'homepage_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'homepage_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'homepage_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="full-height bg2">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1 class="slogan">{{ 'homepage_main_title'|trans }} <br /> {{ 'homepage_secondary_title'|trans }}</h1>
                    </div>
                    <div class="col s12 center-align">
                        <img src="{{ asset('assets/img/logo/logo-NAO-white-shadow-3.png') }}" alt="{{ 'alt_big_logo_white'|trans }}" />
                    </div>
                    <div class="col s12 center-align">
                        <ul id="control">
                            <li><a href="#more" class="btn full white scroll-to waves-effect">{{ 'homepage_know_more'|trans }}</a></li>
                            <li><a href="#" class="btn full waves-effect">{{ 'homepage_submit_observation'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section id="more">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m8 push-m2">
                                    <span class="card-title">{{ 'collaborative_project_title'|trans }}</span>
                                    <p>{{ 'collaborative_project_explain'|trans }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m8 push-m2">
                                    <ul id="stepbar">
                                        <li>{{ 'observe'|trans }}</li>
                                        <li>{{ 'photographed'|trans }}</li>
                                        <li>{{ 'share'|trans }}</li>
                                        <li>{{ 'do_validate'|trans }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- LAST OBSERVATIONS -->
        <section>
            <h2>{{ 'last_observation'|trans }}</h2>
            {% if observations|length > 0 %}
            <div class="row">
                {% for observation in observations %}
                    <div {% if loop.index < 3 %} class="col s12 m6 l4" {% else %} class="col s12 m6 offset-m3 l4" {% endif %}>
                        {% include 'common/cards/observation.html.twig' with {'observation':observation } only %}
                    </div>
                {% endfor %}
            </div>
            {% else %}
                {{ 'no_observation_for_moment'|trans }}
            {% endif %}
        </section>

        <!-- LAST ACTUALITY -->
        <section>
            <h2>{{ 'last_actuality_of_nao'|trans }}</h2>
            {% if posts.getLastPosts(3)|length > 0 %}
                <div class="row">
                    {% for article in posts.getLastPosts(3) %}
                        <div {% if loop.index < 3 %} class="col s12 m6 l4" {% else %} class="col s12 m6 offset-m3 l4" {% endif %}>
                            {% include 'common/cards/article.html.twig' with {'article':article } only %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {{ 'no_article_for_moment'|trans }}
            {% endif %}
        </section>
    </main>
{% endblock %}

