{% set bgwhite = true %}
{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'search_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'search_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'search_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'search_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}"/>
{% endblock %}

{% block header %}
    <header class="classic">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'search_page_title'} %}
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'search_min'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'search_page_title'|trans }}</h1>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        {% if paginate.totalItems > 0 %}
            {{ 'search_result' | trans({'%pattern%': pattern, '%total_count%': paginate.totalItems }) }}
        {% else %}
            {{ 'no_search_result' | trans({'%pattern%': pattern}) }}
        {% endif %}
        <div class="row">
            <div id="eltlist" data-maxPage="{{ paginate.maxPages }}">
                {% include 'search/list.html.twig' %}
            </div>
        </div>
        <div class="row">
            {% include 'admin/paginate.html.twig' %}
        </div>
    </main>
{% endblock %}

