{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_user'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_comment_title' } %}
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->

    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb">{{ 'admin'|trans }}</a>
                    <span class="breadcrumb">{{ 'admin_comment_title'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'admin_comment_title'|trans }}</h1>
        <div class="row">
            <!-- user list -->
            <ul class="collection col s12" style="border: 1px solid white !important;" id="cmtlist">
                {% include 'admin/comment/list.html.twig' %}
            </ul>
        </div>
        <div class="row">
            {% include 'admin/paginate.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            $('.modal').modal();


            $('.confirm').click(function () {
                var modal_title = "";
                if ($(this).data("cmtaction") == "authorize") {
                    modal_title = '{{ 'accept_comment_confirmation' | trans }}';
                }
                if ($(this).data("cmtaction") == "delete") {
                    modal_title = '{{ 'delete_comment_confirmation' | trans }}';
                }
                $('#modalTitle').html(modal_title);
                $('#confirm_action').val($(this).data("cmtaction"));
                $('#confirm_id').val($(this).data("cmtid"));
            });

            // Next page for pagination
            $('#nextpage').click(function () {
                var current = $('.pages').find('.active').attr('id').replace('p_', '');
                current = parseInt(current) + 1;
                checkLastpage(current);
                checkFirstpage(current);
                if (current <= {{ paginate.maxPages }}) {
                    displayPage(current);
                }

            });
            // Previous page for pagination
            $('#prevpage').click(function () {
                var current = $('.pages').find('.active').attr('id').replace('p_', '');
                current = parseInt(current) - 1;
                checkLastpage(current);
                checkFirstpage(current);
                if (current >= 1) {
                    displayPage(current);
                }
            });
            $('.gotopage').click(function () {
                var pageno = $(this).data("page");
                // Search active page
                checkFirstpage(pageno);
                checkLastpage(pageno);
                displayPage(pageno);

            });
        });

        /**
         *
         * @param pageno
         * @param user_id
         */
        function cmtList(pageno, user_id) {
            $.ajax({
                url: "{{ path('api_comment_paginate') }}?bearer={{ token }}",
                type: "POST",
                dataType: "json",
                data: {
                    "page": pageno,
                },
                success: function (response) {
                    $('#cmtlist').html(response.html);
                }
            });
        }


        /**
         * Display page
         */
        function displayPage(page) {
            // Remove active classes
            $(".pages li").removeClass("active");
            cmtList(page, 0);
            $('#p_' + page).addClass('active');
        }

        /**
         * Check page number to active next icon
         *
         * @param pageno
         */
        function checkLastpage(pageno) {
            var maxpage = {{ paginate.maxPages }} ;
            if (pageno >= maxpage) {
                $('#chevron_right').addClass('disabled');

            } else {
                $('#chevron_right').removeClass('disabled');
            }
        }

        /**
         * Check page number to active previous icon
         *
         * @param pageno
         */
        function checkFirstpage(pageno) {
            if (pageno <= 1) {
                $('#chevron_left').addClass('disabled');

            } else {
                $('#chevron_left').removeClass('disabled');
            }
        }
    </script>
{% endblock %}





