<div class="card z-depth-0">
    <ul class="collection">
        {% for cmt in cmtlist %}
            <li class="collection-item avatar">
                <img src="{{ asset(cmt.user.getImagePath) }}" class="circle">
                <span class="title">{{ cmt.user.name }}</span>
                <p>{{ cmt.content }}</p>
                <p class="secondary-content caption light-2">{{ 'published_at' |trans ({'%date%': cmt.created|date("d/m/Y")}) }}</p>
                <br>
                <div class="card-action">
                    <i class="material-icons post-icon prefix light-2 post-link">delete</i>
                    <a class="waves-effect modal-trigger confirm btn-link" href="#action-cmt"
                       data-cmtid="{{ cmt.id }}" data-cmtaction="delete">
                        {{ 'delete' | trans }}
                    </a>

                    <i class="material-icons post-icon prefix light-2 post-link">verified_user</i>
                    <a class="waves-effect modal-trigger confirm btn-link" href="#action-cmt"
                       data-cmtid="{{ cmt.id }}" data-cmtaction="authorize">
                        {{ 'authorize' | trans }}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>


