{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_dashboard'|trans }}{% endblock %}

{% block header %}
    <header class="classic admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_dashboard' , 'admin' : true} %}
    </header>
{% endblock %}



{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb dbz">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'admin'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'admin_dashboard'|trans }}</h1>
    </section>

    <main class="container marge-top admin">
        <section>
            <div class="row">
                <!-- Manager user -->
                <div class="col s12 m4">
                    <div class="card">
                        <a href="{{ url('admin_user_index') }}" class="dark">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m8 push-m2">
                                        <span class="card-title">{{ 'admin_user_title'|trans }}</span>
                                        <p class="caption light-2">{{ 'admin_user_explain'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Manager Posts -->
                <div class="col s12 m4">
                    <div class="card">
                        <a href="{{ url('admin_post_index') }}" class="dark">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m8 push-m2">
                                        <span class="card-title">{{ 'admin_post_title'|trans }}</span>
                                        <p class="caption light-2">{{ 'admin_post_explain'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Moderate comments -->
                <div class="col s12 m4">
                    <div class="card">
                        <a href="{{ url('admin_comment_index') }}" class="dark">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m8 push-m2">
                                        <span class="card-title">{{ 'admin_comment_title'|trans }}</span>
                                        <p class="caption light-2">{{ 'admin_comment_explain'|trans }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

