{% set bgwhite = true %}
{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'writing_article'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_post_title' , 'admin' : true} %}
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb dbz">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb dbz">{{ 'admin'|trans }}</a>
                    <a href="{{ path('admin_post_index') }}" class="breadcrumb dbz">{{ 'admin_post_title'|trans }}</a>
                    <span class="breadcrumb">{{ 'writing_article'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'writing_article'|trans }}</h1>
    </section>

    <main class="container marge-top admin-container">
        <section>
            <div class="row">
                <div class="col s12">
                    <div class="card no-style">
                        {{ form_start(form) }}
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m10 push-m1">
                                    <br/>
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <div class="input-field">
                                                {{ form_widget(form.title) }}
                                                <label for="first_name">{{ form_label(form.title) }}</label>
                                            </div>
                                            <div class="input-field">
                                                {{ form_widget(form.content) }}
                                                <label for="appbundle_post_content">{{ form_label(form.content) }}</label>
                                            </div>

                                        </div>
                                        <div class="col s12 m6">
                                            {{ form_label(form.imagelink) }}
                                            <br>
                                            <div class="card valign-wrapper z-depth-0">
                                                <div class="file_input_div center ">
                                                    <div>
                                                        <label class="btn-floating btn-large waves-effect waves-light">
                                                            <i class="material-icons">add_a_photo</i>
                                                            {{ form_widget(form.imagelink) }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="{{ asset('images/posts/'~post.imagelink) }}" style="width:100%">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col s12 m6 right" style="height:50px">
                                            {{ form_widget(form.save_published) }}
                                        </div>
                                        <div class="col s12 m6 left">
                                            {{ form_widget(form.save_draft) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#post_content').materialnote({
                toolbar:
                    [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['para', ['ul', 'ol', 'paragraph']],
                    ]
            });
        });
    </script>
{% endblock %}

