{% extends 'base.html.twig' %}




{% block body %}
    {% include ':admin/post:navbar.html.twig' %}

    <div class="container">
        {% include '::breadcrumb.html.twig'  with {'breadcrumb':header.breadcrumb} only %}
        <h4>{% trans %}gestion_articles{% endtrans %}</h4>


        <!-- -->

        <div class="row">
            {% for post in posts %}

                <div class="col s12 m6">
                    <div class="card horizontal card-post">
                        <div class="card-image card-post">
                            <img src="{{ asset('images/posts/'~post.imagelink) }}"
                                 style="top:5%;left:5%;height:80%;width:80%">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <b>{{ post.title }}</b>
                                <p>
                                    {% if post.publishedAt != null %}
                                        {% trans %}poste_le{% endtrans %} {{ post.publishedAt | date('d/m/Y') }}
                                    {% else %}
                                        {% trans %}cree_le{% endtrans %} {{ post.createdAt | date('d/m/Y') }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-action right-align">
                                <a class="waves-effect modal-trigger" href="#"
                                   onclick="post_delete_confirm('{{ post.id }}')">
                                    <i class="material-icons left post-icon">delete</i>
                                    {% trans %}supprimer{% endtrans %}
                                </a>
                                <a class="waves-effect" href="{{ path('admin_post_edit', { 'id': post.id }) }}">
                                    <i class="material-icons left post-icon">edit</i>
                                    {% trans %}editer{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- end user -->
        <div class="container center-align">
            <ul class="pagination">

                <li {{ paginate.current <= 1 ? 'class="disabled"': 'class="waves-effect"' }}>
                    <a href="{{ path('admin_post_index', {page: paginate.current-1 < 1 ? 1 : paginate.current-1}) }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>

                {% for i in paginate.current..paginate.current+2 %}
                    <li class="waves-effect {{ paginate.current == i ? 'active' }}{{ i > paginate.maxPages ? 'disabled' }}">
                        <a {{ i > paginate.maxPages ? 'class="not-active' }}
                                href="{{ path('admin_post_index', {page: i }) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li {{ paginate.current == paginate.maxPages ? 'class="disabled"': 'class="waves-effect"' }}>
                    <a href="{{ path('admin_post_index', {page: paginate.current+1 <= paginate.maxPages ? paginate.current+1 : paginate.current}) }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}


    {% block javascripts %}
        {{ parent() }}
        <script>
            /**
             * Confirm deletion of post
             *
             * @param id
             */
            function post_delete_confirm(id) {
                MaterialDialog.dialog(
                    "{% trans %}supprimer_article_confirm{% endtrans %}",
                    {
                        title: "{% trans %}supprimer_article{% endtrans %}",
                        modalType: "modal-fixed-footer", // Can be empty, modal-fixed-footer or bottom-sheet
                        buttons: {
                            // Use by default close and confirm buttons
                            confirm: {
                                className: "btn-validate",
                                text: "{% trans %}oui{% endtrans %}",
                                callback: function () {

                                    var url = '{{ path('admin_post_delete',{ 'id':'post_id'}) }}';
                                    url = url.replace('post_id', id);
                                    window.location.href = url;
                                }
                            },
                            close: {
                                className: "btn-cancel",
                                text: "{% trans %}non{% endtrans %}",
                                modalClose: true
                            }
                        }
                    }
                )
            }
        </script>
    {% endblock %}

