{% set bgwhite = true %}
{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_post'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_post_title' , 'admin' : true} %}

        <ul class="tabs tabs-transparent">
            <!-- Draft -->
            <li class="tab">
                <a target="_self" id="{{ constant('AppBundle\\Entity\\Post::DRAFT') }}"
                   href="{{ path('admin_post_index', {page: 1, status: constant('AppBundle\\Entity\\Post::DRAFT')}) }}"
                        {{ (app.request.attributes.get('status') == constant('AppBundle\\Entity\\Post::DRAFT')) ? ' class="active"' }}
                >{{ 'draft'|trans }}</a>
            </li>
            <!-- Publisehd -->
            <li class="tab">
                <a target="_self" id="{{ constant('AppBundle\\Entity\\Post::PUBLISHED') }}"
                   href="{{ path('admin_post_index', {page: 1, status: constant('AppBundle\\Entity\\Post::PUBLISHED')}) }}"
                        {{ (app.request.attributes.get('status') == constant('AppBundle\\Entity\\Post::PUBLISHED')) ? ' class="active"' }}
                >{{ 'published'|trans }}</a>
            </li>

        </ul>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb">{{ 'admin'|trans }}</a>
                    <span class="breadcrumb">{{ 'admin_post'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'admin_post'|trans }}</h1>
    </section>
    <main class="container marge-top admin admin-container">

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large btn-link"  href="{{ url('admin_post_new') }}">
                <i class="material-icons">note_add</i>
            </a>
        </div>

        <section class="row">
            {% include 'admin/post/list.html.twig' %}
            {% include 'admin/paginate.html.twig' %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/paginate.js') }}"></script>
    <script>

        $(function () {

            $('.modal').modal();

            $('.confirm').click(function () {
                var modal_title = "";
                if ($(this).data("postaction") == "delete") {
                    modal_title = '{{ 'delete_article_confirmation' | trans }}';
                }
                $('#modalTitle').html(modal_title);
                $('#confirm_action').val($(this).data("postaction"));
                $('#confirm_id').val($(this).data("postid"));
            });

        });

        /**
         *
         * @param pageno
         * @param user_id
         */
        function getList(pageno, no) {
            var status = $('.tab').find('.active').attr('id');
            $.ajax({
                url: "{{ path('api_post_paginate') }}?bearer={{ token }}",
                type: "POST",
                dataType: "json",
                data: {
                    "page": pageno,
                    "status": status
                },
                success: function (response) {
                    $('#eltlist').html(response.html);
                }
            });
        }
    </script>
{% endblock %}




