{% for post in postlist %}
    <div class="col s12 m6">
        <div class="card no-style post-card">
            <div class="card-content">
                <div class="row no-pad-right">
                    <div class="col s4 no-pad-right">
                        <div class="col s12  no-pad-right">
                            <div class="card-image">
                                <img src="{{ asset('images/posts/'~post.imagelink) }}">
                            </div>
                        </div>
                    </div>
                    <div class="col s8  no-pad-right">
                        <div class="col s12 no-pad-right">
                            <b><span class="title">{{ post.title }}</span></b>
                            <br />
                        </div>
                        <div class="col s12">
                            {% if post.publishedAt != null %}
                                <p class="caption light-2">{{ 'published_at'|trans({'%date%': post.publishedAt|date("d/m/Y")}) }}</p>
                            {% else %}
                                <p class="caption light-2">{{ 'created_at'|trans({'%date%': post.createdAt|date("d/m/Y")}) }}</p>
                            {% endif %}
                            <br>
                        </div>
                        <div class="col s12 no-pad-right">
                            <i class="material-icons post-icon prefix light-2 post-link">delete</i>
                            <a class="waves-effect modal-trigger confirm btn-link" href="#delete-post"
                               data-postid="{{ post.id }}" data-postaction="delete">
                                {{ 'delete' | trans }}
                            </a>
                            &nbsp;
                            <i class="material-icons post-icon prefix light-2 post-link">edit</i>
                            <a class="waves-effect btn-link" href="{{ path('admin_post_edit', { 'id': post.id }) }}">
                                {{ 'edit' | trans }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- MODAL -->
<div id="delete-post" class="modal">
    <div class="modal-content">
        <h4>{{ 'want_delete_article'|trans }}</h4>
        <p>{{ 'modal_confirmation_explain'|trans|nl2br }}</p>
    </div>
    <div class="modal-footer">
        {{ form_start(form) }}
        <button type="reset" class="modal-action modal-close waves-effect btn-flat light-orange">{{ 'cancel' | trans }}</button>
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
</div>


