{% for post in postlist %}
    <div class="col s12 m6">
        <div class="card no-style post-card">
            <div class="card-content">
                <div class="row">
                    <div class="col s4">
                        <div class="col s12">
                            <div class="card-image">
                                <img src="{{ asset('images/posts/'~post.imagelink) }}">
                            </div>
                        </div>
                    </div>
                    <div class="col s8 ">
                        <div class="col s12">
                            <b><span class="title">{{ post.title }}</span></b>
                        </div>
                        <div class="col s12">
                            {% if post.publishedAt != null %}
                                <p class="caption light-2">{{ 'published_at'|trans({'%date%': post.publishedAt|date("d/m/Y")}) }}</p>
                            {% else %}
                                <p class="caption light-2">{{ 'created_at'|trans({'%date%': post.createdAt|date("d/m/Y")}) }}</p>
                            {% endif %}
                            <br>
                        </div>
                        <div class="col s12">
                            <i class="material-icons post-icon prefix light-2 post-link">delete</i>
                            <a class="waves-effect modal-trigger confirm btn-link" href="#modal1"
                               data-postid="{{ post.id }}" data-postaction="delete">
                                {{ 'delete' | trans }}
                            </a>
                            &nbsp;
                            <i class="material-icons post-icon prefix light-2 post-link">edit</i>
                            <a class="waves-effect btn-link" href="{{ path('admin_post_edit', { 'id': post.id }) }}">
                                {{ 'edit' | trans }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- MODAL -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="modalTitle"></h5>
        <br>
        {{ form_start(form) }}
        <div class="center">
            <button type="reset"
                    class="modal-action modal-close btn white scroll-to waves-effect">{{ 'no' | trans }}</button>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
