{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_user'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_user' } %}
    </header>
{% endblock %}

{% block body %}
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb">{{ 'admin'|trans }}</a>
                    <a href="{{ path('admin_post_index') }}" class="breadcrumb">{{ 'admin_post_title'|trans }}</a>
                    <span class="breadcrumb">{{ 'writing_article'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'writing_article'|trans }}</h1>
    </section>
    <div class="container">
        {{ form_start(form) }}
        <div class="card large">
            <div class="row">
                <div class="col s12 m6">
                    <div class="col m8 push-m2">
                        <div class="input-field col s12">
                            {{ form_widget(form.title) }}
                            <label for="first_name">{{ form_label(form.title) }}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form_widget(form.content) }}
                            <label for="appbundle_post_content">{{ form_label(form.content) }}</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="col m8 push-m2">
                        {{ form_label(form.imagelink) }}
                        <div class="file-field input-field">
                            <div class="btn-floating btn-medium waves-effect waves-light">
                                <i class="material-icons dp48">add_a_photo</i>
                                {{ form_widget(form.imagelink) }}
                            </div>

                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col s12 m6 center">
                        {{ form_widget(form.save_draft) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_widget(form.save_published) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- #DD2C00; -->

{% endblock %}

