{% extends "common/template/email.html.twig" %}

{% block body %}
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">
                <div class="content margin">
                    <table>
                        <tr>
                            <td>
                                <h3>{{ 'email_recovery_account_title'|trans }}</h3>
                                <br />
                                <table class="summary">
                                    {{ 'email_recovery_account_content'| trans({ '%name%': user.name })| nl2br }}

                                    <center><a class="button" href="{{ absolute_url(path('password_reset', {'code' : user.token})) }}">{{ 'new_password'|trans }}</a></center>

                                    {{ 'email_signature'|trans|nl2br }}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}
