<li {% if current_route == 'homepage' %} class="active" {% endif %}><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>
<li {% if current_route == 'observation' %} class="active" {% endif %}><a href="{{ path('observation.create') }}">{{ 'observer'|trans }}</a></li>
<li {% if current_route == 'map' %} class="active" {% endif %}><a href="{{ path('observation.map') }}">{{ 'map'|trans }}</a></li>
<li {% if current_route == 'about-us' %} class="active" {% endif %}><a href="{{ path('about') }}">{{ 'about'|trans }}</a></li>
