{{ 'reject_title' | trans({'%username%': observation.user.name}) }}
<br/>
<div class="card no-style">
    <div class="card-content">
        <div class="row">
            {{ form_start(reject, {'attr': {'id': 'reject'}}) }}
            <div class="col s12 m10 push-m1">
                <br/>
                {{ form_widget(reject.reason) }}
                <span class="caption light-2-no-hov top-neg right" style="margin-right: 5px;"><span
                            id="reject_count_chars">0</span>/120</span>
            </div>
            <div class="col s12 pull-m1">
                {{ form_widget(reject.warn_admin) }}
                <label for="reject_warn_admin" class="light-2 push-line">{{ 'warn_admin'|trans }}</label>
            </div>
            <div class="col s12 m10 ">
                <br>
                <div class="form-control center push-m2">
                    {{ form_widget(reject.cancel) }}&nbsp;
                    {{ form_widget(reject.confirm) }}
                </div>
            </div>
            {{ form_end(reject) }}
        </div>
    </div>
</div>