{% set bgwhite = true %}
{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'observation_validation_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'observation_validation_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'observation_validation_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'observation_validation_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg10">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'observation_validation_page_title'} %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'observation_validation_main_title'|trans }}</h1>
                            <span>{{ 'your_validation'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{{ path('observation.validation.waiting') }}" target="_self">{{ 'waiting'|trans }}</a></li>
            <li class="tab"><a class="active" href="{{ path('observation.validation.validate') }}" target="_self">{{ 'your_validation'|trans }}</a></li>
            <li class="tab"><a href="{{ path('observation.validation.decline') }}" target="_self">{{ 'your_refuse'|trans }}</a></li>
        </ul>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'observation_validation_page_title'|trans }}</span>
                </div>
            </div>
        </nav>
        <div class="heading">{{ 'your_validation'|trans }}</div>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>
            <div class="row">
                <div id="eltlist" data-maxPage="{{ paginate.maxPages }}">
                    {% for observation in obslist %}
                        <div class="col s12 m6" >
                            {% include 'common/cards/observation_state.html.twig' with {'observation':observation } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% include 'admin/paginate.html.twig' %}
            </div>
        </section>
    </main>
{% endblock %}

