<div class="card">
    <div class="card-image">
        <img src="{{ asset('images/posts/' ~ article.imageLink ) }}" alt="{{ 'alt_actuality'|trans }}">
    </div>
    <div class="card-content">
        <p class="caption light-2">{{ 'published_at'|trans({'%date%': article.publishedAt|date("d/m/Y")}) }}</p>
        <span class="card-title">{{ article.title }}</span>
        <p>{{ article.content|truncate(120) }}</p>
    </div>
    <div class="card-action">
        <a href="javascript:void(0)" class="bleen sharing" data-link="{{ url('blog.detail', {'id' : article.id, 'slug' : article.slug }) }}">{{ 'share'|trans }}</a>
        <a href="{{ path('blog.detail', {'id' : article.id, 'slug' : article.slug }) }}" class="bleen">{{ 'read'|trans }}</a>
    </div>
</div>
