<div class="card  no-style">
    <div class="card-content">
        <div class="row no-pad-bot">
            <div class="col s4 m6">
                <img src="{{ asset('images/observations/' ~ observation.imagePath ) }}" alt="{{ 'alt_bird'|trans }}">
            </div>
            <div class="col s8 m6">
                <span class="card-title">{{ observation.taxref.commonName }}</span>
                <p>
                    {{ 'observe_at'|trans({'%date%': observation.watched|date("d/m/Y")}) }}<br/>
                    {{ 'in_place'|trans({'%place%': observation.place}) }}
                </p>
                <br/>
                    <p class="caption light-2 text-right" style="text-align: right">
                        {{ 'GPS_coordinate' | trans({'%latitude%': observation.latitude | gps_dms, "%longitude%": observation.longitude | gps_dms()}) }}
                    </p>
            </div>
        </div>
    </div>
</div>

