<div class="card no-style observation fix-height">
    <div class="card-content">
        <div class="row no-pad-bot">
            <div class="col s4 m4">
                <a href="{{ path('observation.validation.validation', {'id' : observation.id}) }}">
                    <div class="media-container" style="background: url('{{ asset('images/observations/' ~ observation.imagePath ) }}') center/cover no-repeat">
                        &nbsp;
                    </div>
                </a>
            </div>
            <div class="col s8 m8">
                <h2>{{ observation.taxref.commonName }}</h2>
                <p>
                    {{ 'observe_at'|trans({'%date%': observation.watched|date("d/m/Y")}) }}<br/>
                    {{ 'in_place'|trans({'%place%': observation.place}) }}
                </p>
                <p class="caption light-2-no-hov coordinate">
                    {{ 'GPS_coordinate' | trans({'%latitude%': observation.latitude | gps_dms, "%longitude%": observation.longitude | gps_dms()}) }}
                </p>
            </div>
        </div>
    </div>
</div>
