{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'login_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'login_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'login_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'login_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg7">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle': 'login_page_title'}%}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'login_main_title'|trans }}</h1>
                            <h2>{{ 'login_secondary_title'|trans }}</h2>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'connexion'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1>{{ 'login_page_title'|trans }}</h1>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <form id="login_form" method="post" autocomplete="off">
                                <div class="row">
                                    <div class="col s12 l6 main-section">
                                        <input style="display:none">
                                        <div class="input-field col s12">
                                            {{ form_widget(form._email) }}
                                            <label>{{ 'label_email'|trans }}</label>
                                            {% if error %}<div class="error">{{ 'login_connexion_error'|trans }}</div>{% endif %}
                                        </div>
                                        <input style="display:none">
                                        <div class="input-field col s12">
                                            {{ form_widget(form._password) }}
                                            <label>{{ 'label_password'|trans }}</label>
                                            <p class="right-align"><a href="{{ path('password_lost') }}" class="light-2-no-hov small">{{ 'lost_password'|trans }}</a></p>
                                        </div>
                                        <div class="input-field col s12">
                                            {{ form_widget(form._remember_me) }}
                                            <label for="login__remember_me" class="light-2">{{ 'remember_me'|trans }}</label>
                                        </div>
                                        <div class="input-field col s12 center-align">
                                            <br />
                                            <input type="submit" class="btn waves-effect" value="{{ 'sign_up'|trans }}" />
                                        </div>
                                        <div class="input-field col s12 center-align">
                                            <a href="{{ path('registration') }}" class="light-2-no-hov">{{ 'sign_in'|trans }}</a>
                                        </div>
                                    </div>
                                    <div class="col s12 l6 secondary-section v-margin center-align">
                                        <div class="col s12">
                                            <a class="waves-effect waves-light btn social facebook"><i class="mdi mdi-facebook"></i> {{ 'connect_with_facebook'|trans }}</a>
                                        </div>
                                        <div class="col s12">
                                            <br />
                                            <a data-onsuccess="GoogleSignIn" class="g-signin2 waves-effect waves-light btn social google"><i class="mdi mdi-google"></i> {{ 'connect_with_google'|trans }}</a>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
    function GoogleSignIn(googleUser){
        document.location = "{{ url("hwi_oauth_service_redirect", {service: "google"}) }}";
    }
    </script>
{% endblock javascripts %}
