{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'new_password_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'new_password_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'new_password_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'new_password_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg5">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle': 'new_password_page_title'}%}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'new_password_main_title'|trans }}</h1>
                            <span>{{ 'new_password_secondary_title'|trans }}</span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'new_password_page_title'|trans }}</span>
                </div>
            </div>
        </nav>
        <div class="heading">{{ 'new_password_page_title'|trans }}</div>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 message">
                                    <span class="card-title less">{{ 'new_password_success_title'|trans }}</span>
                                    <p>{{ 'new_password_success_explain'|trans }}</p>
                                    <br />
                                    <p class="center-align"><a href="{{ path('login') }}" class="btn waves-effect">{{ 'connexion'|trans }}</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
