{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'new_password_page_title'|trans }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'new_password_page_meta_description'|trans }}">
    <meta name="og:description" content="{{ 'new_password_page_meta_description'|trans }}">
    <meta name="og:title" content="{{ 'new_password_page_title'|trans }}">
    <meta property="og:image" content="{{ url('homepage') ~ 'images/default_sharer.png' }}" />
{% endblock %}

{% block header %}
    <header class="collapse bg5">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle': 'new_password_page_title'}%}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <div id="header-main-title">
                            <h1>{{ 'new_password_main_title'|trans }}</h1>
                            <span>{{ 'new_password_secondary_title'|trans }}</span>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <span class="breadcrumb">{{ 'new_password_page_title'|trans }}</span>
                </div>
            </div>
        </nav>
        <div class="heading">{{ 'new_password_page_title'|trans }}</div>
    </section>

    <!-- PAGE CONTENT -->
    <main class="container marge-top">
        <section>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <form id="reset_password_form" method="post" autocomplete="off">
                                <div class="row">
                                    <div class="col s12">
                                        <br>
                                        <span class="card-title less">{{ 'new_password_page_title'|trans }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m8">
                                        <input style="display:none">
                                        <div class="input-field col s12">
                                            {{ form_widget(form.plainPassword.first) }}
                                            <label>{{ 'label_password'|trans }}</label>
                                            <div class="error">{{ form_errors(form.plainPassword.first) }}</div>
                                        </div>
                                        <div class="input-field col s12">
                                            {{ form_widget(form.plainPassword.second) }}
                                            <label>{{ 'label_password_confirmation'|trans }}</label>
                                            <div class="error">{{ form_errors(form.plainPassword.second) }}</div>
                                        </div>
                                    </div>
                                    <div class="col s12 m4 center-align">
                                        <br />
                                        <div class="input-field col s12">
                                            <input type="submit" class="btn waves-effect" value="{{ 'change_password'|trans }}" />
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
