{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_user'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_user' } %}
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a target="_self" id="ROLE_OBSERVER"
                   href="{{ path('admin_user_index', {page: 1, role: 'ROLE_OBSERVER'}) }}"
                        {{ (app.request.attributes.get('role') == 'ROLE_OBSERVER') ? ' class="active"' }}
                >{{ 'ROLE_OBSERVER'|trans }}</a>
            </li>
            <!-- Naturalist -->
            <li class="tab">
                <a target="_self" id="ROLE_NATURALIST"
                   href="{{ path('admin_user_index', {page: 1, role: 'ROLE_NATURALIST'}) }}"
                        {{ (app.request.attributes.get('role') == 'ROLE_NATURALIST') ? ' class="active"' }}
                >{{ 'ROLE_NATURALIST'|trans }}</a>
            </li>
            <!-- Admin -->
            <li class="tab">
                <a target="_self" id="ROLE_ADMIN"
                   href="{{ path('admin_user_index', {page: 1, role: 'ROLE_ADMIN'}) }}"
                        {{ (app.request.attributes.get('role') == 'ROLE_ADMIN') ? ' class="active"' }}
                >{{ 'ROLE_ADMIN'|trans }}</a>
            </li>
        </ul>
    </header>
{% endblock %}

{% block body %}
    <style>



    </style>
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb">{{ 'admin'|trans }}</a>
                    <a href="{{ path('admin_user_index') }}" class="breadcrumb">{{ 'admin_user'|trans }}</a>
                    <span class="breadcrumb">{{ 'admin_user_edit'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'admin_user'|trans }}</h1>
        <div class="row">
            <div class="col s12">
                <div class="card medium">
                    <div class="card-content">
                        <div class="col s12 m6">
                            <div class="card-panel z-depth-0">
                                <div class="row valign-wrapper">
                                    <div class="col s5">
                                        <img src="{{ asset('images/users/'~user.getImagePath) }}" alt=""
                                             class="circle responsive-img">
                                    </div>
                                    <div class="col s7">
                                        <h4>{{ user.name }}</h4>
                                        <p>{% trans %}inscrit_depuis{% endtrans %} {{ user.created|date('d/m/Y') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="col s12 m6">
                            {{ form_errors(form) }}
                            <!-- role -->
                            <div class="input-field col s12">
                                {{ form_widget(form.role) }}
                            </div>
                            <!-- active -->
                            <div class='switch row'>
                                <label>
                                    {{ form_widget(form.inactive) }}
                                    <span class="lever"></span>
                                    {% trans %}utilisateur_bloque{% endtrans %}
                                </label>
                            </div>
                            <!-- action -->
                            <div class="row">
                                <div class="col s6">
                                    {{ form_widget(form.cancel) }}
                                </div>
                                <div class="col s6">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('select').material_select();
            $('.modal').modal();
        });
    </script>
{% endblock %}
