{% extends "common/template/base.html.twig" %}

{% block title %}{{ 'admin_user'|trans }}{% endblock %}

{% block header %}
    <header class="collapse admin">
        <!-- NAVIGATION -->
        {% include 'common/widget/navbar/base.html.twig' with {'navtitle' : 'admin_user' } %}
    </header>
{% endblock %}

{% block body %}
    <!-- PAGE HEADING -->
    <section class="page-heading container hide-on-med-and-down admin">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="{{ path('homepage') }}" class="breadcrumb">{{ 'home'|trans }}</a>
                    <a href="{{ path('admin_homepage') }}" class="breadcrumb">{{ 'admin'|trans }}</a>
                    <span class="breadcrumb">{{ 'admin_user'|trans }}</span>
                </div>
            </div>
        </nav>
        <h1 class="activated">{{ 'admin_user'|trans }}</h1>
        <div class="row">
            <div class="col s12">
                <div class="card medium">
                    <div class="card-content">
                        <!-- search -->
                        <div class="row">

                            <div class="col s12 m6 push-m3 search">
                                <div class="autocomplete" id="single">
                                    <div class="ac-input">

                                        <input type="text" id="searchuser" placeholder="Please input some letters"
                                               data-activates="singleDropdown" data-beloworigin="true"
                                               autocomplete="off">
                                        <sup><a href="#" id="clearsearch">{% trans %}effacer_recherche{% endtrans %}</a></sup>
                                    </div>

                                    <ul id="singleDropdown" class="dropdown-content ac-dropdown"></ul>
                                </div>
                            </div>
                        </div>
                        <!-- user list -->
                        <ul class="collection row" style="border-bottom: none">
                            {% for user in users %}
                                <li class="collection-item avatar col s12 m4" style="border-bottom: none">
                                    <a class="dark" href="{{ path('admin_user_update', { 'id': user.id}) }}">
                                        <img src="{{ asset('images/users/'~user.getImagePath) }}" class="circle">
                                        <span class="title">{{ user.getName }}</span>
                                        <p class="caption light-2">{{ user.roleString }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}






