{% extends 'base.html.twig' %}




{% block body %}
{% include ':admin/user:navbar.html.twig' %}


    <div class="container">
        {% include '::breadcrumb.html.twig'  with {'breadcrumb':breadcrumb} only %}
        <h4>{% trans %}gestion_utilisateurs{% endtrans %}</h4>
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m6 push-m3 search">
                        <div class="input-field">
                            {{ form_start(form) }}
                            {{ form_widget(form.search) }}
                            <label for="icon_prefix"><i class="material-icons prefix">search</i><span class="search_name">{% trans %}recherche_par_nom{% endtrans %}</span></label>
                            {{ form_end(form) }}
                        </div>
                </div>
            </div>
            <!-- -->
            <div class="row">
            {%  for user in users %}
                <div class="col s12 m6">
                    <a href="{{ path('admin_user_update', { 'id': user.id}) }}">
                        <div class="card horizontal z-depth-0">
                            <div class="card-image roundedImage">
                                <img src="{{ asset('images/users/'~user.getImagePath) }}">
                            </div>
                            <div class="card-stacked">
                                <b>{{ user.getName }}</b>
                                <span class="text-grey">{{ user.roleString }}</span>
                            </div>

                        </div>
                    </a>
                </div>
                {% endfor %}
            <!-- end user -->
        </div>
            <div class="container center-align">
                <ul class="pagination">

                    <li {{ current <= 1 ? 'class="disabled"': 'class="waves-effect"' }}>
                        <a href="{{ path('admin_user_index', {page: current-1 < 1 ? 1 : current-1}) }}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>

                    {% for i in current..current+2 %}
                        <li class="waves-effect {{ current == i ? 'active' }}{{ i > maxPages ? 'disabled' }}">
                            <a {{ i > maxPages ? 'class="not-active' }} href="{{ path('admin_user_index', {page: i }) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li {{ current == maxPages ? 'class="disabled"': 'class="waves-effect"' }}>
                        <a href="{{ path('admin_user_index', {page: current+1 <= maxPages ? current+1 : current}) }}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
{% endblock body %}




