{% extends 'base.html.twig' %}




{% block body %}
    {% include ':admin/user:navbar.html.twig' %}


    <div class="container">
        {% include '::breadcrumb.html.twig'  with {'breadcrumb':header.breadcrumb} only %}
        <h4>{% trans %}gestion_utilisateurs{% endtrans %}</h4>
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m6 push-m3 search">
                    <div class="input-field">
                        {{ form_start(form) }}
                        {{ form_widget(form.search) }}
                        <label for="icon_prefix"><i class="material-icons prefix">search</i><span
                                    class="search_name">{% trans %}recherche_par_nom{% endtrans %}</span></label>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="row" id="userList">
                {% include ':admin/user:list.html.twig'  with {'users':users} only %}
            </div>
        </div>
        <div class="container center-align">
            <ul class="pagination">
                <input type="hidden" id="maxpage" value="{{ paginate.maxPages }}">
                <input type="hidden" id="maxcurrent" value="{{ paginate.current + 10 }}">
                <li id="chevron_left" {{ paginate.current <= 1 ? 'class="disabled"': 'class="waves-effect"' }}>
                    <a  id="prevpage" href="#">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>

                {% for i in paginate.current..paginate.current + 10 %}
                    {% if i < paginate.maxPages  %}
                    <li id="p_{{ i }}" class="waves-effect {{ paginate.current == i ? 'active' }}{{ i > paginate.maxPages ? 'disabled' }}">
                        <a class="gotopage {{ i > paginate.maxPages ? ' not-active' }}" href="#"
                           data-page="{{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                <li id="chevron_right" {{ paginate.current == paginate.maxPages ? 'class="disabled"': 'class="waves-effect"' }}>
                    <a id="nextpage" href="#">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock body %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            fucntion doigt(){
                console.log("POUCE");
            }
        </script>

        <script>
            $(document).ready(function () {
                var single = $('#searchuser').materialize_autocomplete({
                    limit: 10,
                    cacheable: false,
                    multiple: {
                        enable: false
                    },
                    dropdown: {
                        el: '#singleDropdown'
                    },
                    getData: function (value, callback) {
                        console.log("getData " + value);
                        var data = [];
                        var role = $('.tab').find('.active').attr('id');
                        $.ajax({
                            url: "{{ path('admin_user_search') }}",
                            type: "POST",
                            dataType: "json",
                            data: {
                                "role": role,
                                "search": value
                            },
                            success: function (response) {
                                callback(value, response);
                            }
                        });
                    },
                    onSelect: function (item) {
                        console.log("ONSELECT");
                        userList(1, item.id);
                        $('.pagination').hide();
                    }


                });

                /**
                 *
                 */
                $('.gotopage').click(function () {
                    var pageno = $(this).data("page");
                    // Search active page
                    var current = $('.pagination').find('.active').attr('id');
                    $('#' + current).removeClass('active');
                    userList(pageno, 0);
                    $('#p_' + pageno).addClass('active');
                    if (pageno > 1) {
                        $('#chevron_left').removeClass('disabled');
                    } else {
                        $('#chevron_left').addClass('disabled');
                    }
                    var maxpage = $('#maxpage').val() - 1;
                    if (pageno >= maxpage) {
                        $('#chevron_right').addClass('disabled');

                    } else {
                        $('#chevron_right').removeClass('disabled');
                    }
                });

                /**
                 *
                 */
                $('#nextpage').click(function () {
                    var current = $('.pagination').find('.active').attr('id');
                    $('#' + current).removeClass('active');
                    var next = parseInt(current.replace('p_', '')) + 1
                    if (next > 1) {
                        $('#chevron_left').removeClass('disabled');
                    } else {
                        $('#chevron_left').addClass('disabled');
                    }
                    var maxpage = $('#maxpage').val() - 1;
                    var maxcurrent = $('#maxcurrent').val();
                    if (next >= maxpage) {
                        //next = maxpage;
                        $('#chevron_right').addClass('disabled');
                    } else {
                        $('#chevron_right').removeClass('disabled');
                    }
                    if (next > maxpage) {
                        console.log('#p_' + maxpage);
                        $('#p_' + maxpage).addClass('active');
                        return true;
                        ;
                    }
                    if (next > maxcurrent) {
                        maxcurrent = next;
                        addPage(next);
                        removePage(next - 11);
                    }
                    userList(next, 0);
                    $('#p_' + next).addClass('active');
                });

                /**
                 *
                 */
                $('#prevpage').click(function () {
                    var current = $('.pagination').find('.active').attr('id');
                    $('#' + current).removeClass('active');
                    var prev = parseInt(current.replace('p_', '')) - 1
                    if (prev <= 1) {
                        prev = 1;
                        $('#chevron_left').addClass('disabled');
                    } else {
                        $('#chevron_left').removeClass('disabled');
                    }
                    console.log("PREV " + prev);
                    console.log("CURR " + current);
                    userList(prev, 0);
                    $('#p_' + prev).addClass('active');
                });
            });
        </script>
    {% endblock %}






